@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

body{font-family: 'Song Myung', serif;}
.box{width:25%;
	height:50px;
	background-color:gray;
	position:absolute;}
.box-center{width:50%;height:100%;
			background-color:black;
			position:absolute;
			left:25%;
			}